Group was successfully created.
<br>

<b>Name:</b>
<%= @group.title %>
<br>
<br>
<%= link_to 'Edit', edit_group_path %> | <%= link_to 'Back', new_group_path %>
<br>
<p>
Signed in as yfujimoto210@gmail.com.
<%= link_to 'Sign out', 'http://www.gmail.com/' %>
</p>
