<h5>Profile was successfully created.</h5>
<h5>Profile was successfully created.</h5>

<h3>Name:
<%= @profile.name %>
</h3>

<h3>Avatar:
<%= @profile.avatar %>
</h3>


<BR>

<a href="./new">Edit</a> | <a href="./">Back</a>
